* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

main {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1e3a8a, #1e40af);
  display: grid;
  place-items: center;
  padding: 1rem;
}

section {
  max-width: 28rem;
  width: 100%;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgb(0 0 0 / 0.1),
    0 0.25rem 0.375rem -0.25rem rgb(0 0 0 / 0.1);
  border-radius: 0.8rem;
  background-color: #172554;
  padding: 2rem;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
  border: 1px solid #1e40af;
}

.mode-title {
  color: #93c5fd;
  font-size: 2.25rem;
  font-weight: 700;
}

.timer-text {
  font-size: 4.5rem;
  font-weight: 300;
  color: #ffffff;
  font-variant-numeric: tabular-nums;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical-align {
  position: relative;
  bottom: 0.1em;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.action-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 1px solid #60a5fa;
  color: #3b82f6;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #1e3a8a;
    color: #bfdbfe;
  }
}

.switch-mode-btn {
  color: #93c5fd;
  background-color: transparent;
  border: none;
  padding: 0.7rem 1rem;
  width: 100%;
  transition: all 0.15s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #1e3a8a;
    color: #bfdbfe;
  }
}

.volume-control-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.volume-btn {
  display: grid;
  place-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #60a5fa;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: rgb(30 58 138);
    color: #93c5fd;
  }
}

.volume-range {
  width: 100%;
  cursor: pointer;
}

.automatic-start {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #92c5fd;
  font-size: 1rem;
  font-weight: 500;
}

#auto-start-toggle {
  accent-color: #93c5fd;
  width: 1rem;
  height: 1rem;
}
